# .NET Core
bin/
obj/

# Azure Functions localsettings file
local.settings.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# VS Code
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.zip

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
 No newline at end of file
